/* Play Button Triangle */
/* .PlayPauseButton {
    position: relative;
    top: -10%;
    left: calc(50% - 2.5vw);

    height: 10vw;
    width: 10vw;
    
    background: none;
    border: none;
} */

.PlayPauseButton.Play::before {
    content: '';
    position: absolute;
    left: 3vw;
    top: 0.5vw;
    width: 0;
    height: 0;
    border-top: min(8vw, 50px) solid transparent;
    border-left: min(16vw, 100px) solid rgba(0, 0, 0, 0.3);
    border-bottom: min(8vw, 50px) solid transparent;
    z-index: 0;
    filter: blur(5px);
}

.PlayPauseButton.Play::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: min(7vw, 45px) solid transparent;
    border-left: min(14vw, 90px) solid #f21919;
    border-bottom: min(7vw, 45px) solid transparent;
}

.PlayPauseButton.Play:hover::after {
    border-left: min(14vw, 90px) solid rgba(184, 69, 69, 0.907);
}

/* Pause Button two sticks */
.PlayPauseButton.Pause::before {
    content: '';
    position: absolute;
    left: 3vw;
    top: 0.5vw;
    width: 0;
    height: 0;
    border: min(7vw, 45px) solid black;
    z-index: 0;
    filter: blur(5px);
}

.PlayPauseButton.Pause::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: min(7vw, 45px) solid #f21919;
}

.PlayPauseButton.Pause:hover::after {
    border: min(7vw, 45px) solid rgba(184, 69, 69, 0.907);
}