/* Header container */
.Header {
    width: 100%;
    height: 100%;
    max-height: 972px;
    text-align: center;
    background-color: var(--primary-color);
  }
  
  .BannerWrapper {
    width: 100%;
    padding: 1vw;
  }
  
  /* Background block with image */
  .Banner {
    /* background-image: url('your-image-path.jpg'); or use imported `backgroundImg` */
    background-size: cover;
    background-position: center;
    width: 98vw;
    max-width: 2324px;
    height: clamp(40vh, 10vw + 30vh, 65vh);
    max-height: 972px;
    object-fit: cover;

    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* @media only screen and (max-width: 1200px) {
    .Banner {
      height: 50vh;
    }
  }
  @media only screen and (max-width: 768px) {
    .Banner {
      height: 40vh;
    }
  }
  @media only screen and (max-width: 569px) {
    .Banner {
      height: 30vh;
    }
  } */
  
  /* Guess The Anime Title part styling */
  .Title {
    width: 100%;
    height: 100%;
    max-height: 150px;
    color: white;
    font-size: 7.35vw;
    text-shadow: 0 0 10px black;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }  

  @media only screen and (max-width: 768px) {
    .Title {
      flex-direction: column;
      font-size: 10vw;
    }
  }

  /* Opening Title part styling */
  .OpeningEnding {
    display: block;
    position: relative;
    color: var(--secondary-color);
  }
  .OpeningEnding:hover {
    color: var(--tertiary-color);
  }
  
  /* Table of Contents below */
  .NavMenu {
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1rem;
  }
  
  /* Center nav list */
  .NavMenu ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .NavMenu ul li {
    /* margin: 0 0.5rem; */
    font-size: 1.5rem;
  }
  
  .NavMenu ul li:hover {
    color: var(--tertiary-color);
    /* font-size: 1.6rem; */
  }