* {
  outline: 1px solid red;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: block; */
}

/* Variables */
:root {
  --primary-color: #4E9BF5;
  --secondary-color: #E0D0EA;
  --tertiary-color: #F7C8D2;
  --quad-color: #364832;
}

.Opening {
  --primary-color: #4E9BF5;
  --secondary-color: #E0D0EA;
  --tertiary-color: #F7C8D2;
  --quad-color: #364832;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Ending {
  --primary-color: #EF3952;
  --secondary-color: #B36EC7;
  --tertiary-color: #7B5240;
  --quad-color: #F2DA70;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}