.SongListContainer {
    width: 70%;
    max-height: 100%;
}

.OpeningsSongList {
    padding: 2.5vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Song {
    width: 20%;
    color: white;
    font-size: 5rem;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 2rem;
}

.Song:hover {
    color: var(--secondary-color);
}