.MainFilter {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.MainContent {
    /* margin-top: max(0.5vh, 15px); */
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    /* overflow: hidden; */
    min-height: 0;
}

/* .PreventScrollable {
    flex-shrink: 0;
    padding: 0.5rem;
} */

.SongWrapper {
    flex: 1;
    overflow-y: auto;
    height: 100%;
    padding: 1rem;
    min-height: 0; /* also required */
    /* background-color: #fff; */
}